*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/art/background.png);
  background-repeat: no-repeat;
  background-size:100%;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color:rgba(97, 165, 165, 0.671);
  overflow: hidden;
}
.game-details {
  color: #052964;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #914d4d;
  grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}
.play-board .paper {
  background-image: url(/art/Paper.png);
  background-repeat: no-repeat;
  background-size: 40px;
   
}
.play-board .head {
  background-image: url(/art/haku.png);
  background-size: 28px;
  background-repeat: no-repeat;
  
}
.play-board .body{
  background-color: #c5c8d7;
  border-radius: 50%;

  
}
.play-board .tail{
  width: 20px; 
  height: 20px; 
  padding: 0;
  margin:auto;
  text-align:center;
  background: #7a9ba0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hidden{
  display: none;
}