*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/art/background.png);
  background-repeat: no-repeat;
  background-size:100%;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color:rgba(97, 165, 165, 0.671);
  overflow: hidden;
}
.game-details {
  color: #052964;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #914d4d;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .paper {
  background-image: url(/art/Paper.png);
  background-repeat: no-repeat;
  background-size: 20px;
   
}
.play-board .head {
  background-image: url(/art/haku.png);

  background-size: 15px;
  background-repeat: no-repeat;
  
}
.play-board .body{
  background-color: white;
  border-radius: 30%;
  
}
.play-board .tail{
  background-color: rgb(140, 140, 143);
  border-radius: 30%;
  
}
